.tech {
	background-color: #111;
	padding: 50px;
	&__content {
		padding-top: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		&-item {
			max-width: 340px;
			padding: 40px 20px;
			margin: 20px;
			text-align: center;
			background-color: #222;
			color: #fff;
			border-radius: 5px;
			transition: all .5s;
			i {
				width: 100px;
				height: 100px;
			}
			h3 {
				font-size: 22px;
				margin-bottom: 10px;
			}
			&:hover {
				background-color: #2196f3;
			}
			
		}
	}
	
}